# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual Environment
.venv/
env/
venv/

# Django
db.sqlite3
*.log
staticfiles/
media/
migrations/*
!migrations/__init__.py

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db