# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.pdf

# Virtual Environment
.venv/
env/
venv/

# Django
db.sqlite3
*.log
staticfiles/
media/
migrations/*
!migrations/__init__.py

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

core/supabase_test.py
core/test_media/

*.sql

reviews/