<!DOCTYPE html>
<html>
<head>
    <title>Birthday Reminder</title>
</head>
<body>
    {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}
         | <a href="{% url 'logout' %}">Logout</a>
         | <a href="{% url 'send_reminders_manual' %}">Send Reminders</a> <!-- Fixed URL name -->
      </p>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
